.section-body.m-1.m-md-2.m-lg-4.mt-3
  .mb-4
    = render 'shared/icon_status_grid', 
      title: 'Transportation Methods',
      fields: Transportation::TRANSPORT_FIELDS,
      source: @community.transportation
  .p-4.border.rounded-3.h-100.shadow-sm
    %p.text-secondary= @community.transportation.description
  
    .mt-3.pt-2.d-flex.justify-content-end
      %small.text-muted
        %strong Last Updated:
        %span.ms-1= @community.transportation.as_of_date