%section#data-creation-process.py-5
  .row
    .col-lg-6
      %h5.text-muted.mb-3 Data Process
      %h2.fw-bold.mb-4 How Were the AEDG Datasets Created?
      %p.text-muted
        To help you make confident, data-driven decisions, the AEDG datasets were carefully crafted through a multi-step process—from identifying relevant datasets to enriching them with context. We began by targeting the most useful data, sourcing it from trusted public agencies, and then standardizing it for consistency. Finally, we enriched the data with metadata and context to improve usability and clarity.

      %p.text-muted.mt-3
        Here’s a look at each step that went into building the datasets — so you can trust the foundation behind the insights.

    .col-lg-6.pt-5
      %ul.timeline
        - data_creation_steps.each do |item|
          %li.timeline-item.mb-5
            %h5.mb-2.fw-bold= item[:title]
            .text-muted
              = markdownify(item[:desc])