%section#data-creation-process.py-5
  .row
    .col-lg-6
      %h5.text-muted.mb-3 Data Process
      %h2.fw-bold.mb-4 How Your Data is Built
      %p.text-muted
        The Alaska Energy Data Gateway (AEDG) gives you access to carefully selected energy data, enriched with helpful context. Instead of pulling data from just anywhere, AEDG follows a several step process to ensure what you see is accurate, relevant, and easy to use.

      %p.text-muted.mt-3
        Here’s a look at how the datasets were built, so you can feel confident in the source and quality of the data you’re working with.

    .col-lg-6.pt-5
      %ul.timeline
        - data_creation_steps.each do |item|
          %li.timeline-item.mb-5
            %h5.mb-2.fw-bold= item[:title]
            .text-muted
              = markdownify(item[:description])