%section#explore-tools.py-5
  .row.align-items-center.mb-5
    / Text column: Order second on small, first on large
    .col-12.col-md-6.order-2.order-md-1.text-start
      .mb-3
        %i.bi.bi-house-fill.fs-2
      %h3.fw-bold Find Community Energy Snapshots Effortlessly
      %p.text-muted
        Select your community from the dropdown to access tailored energy details.
        Dive deep into the data that powers your local energy landscape.
      = render partial: "communities/dropdown", locals: { communities: @communities, current_community: nil }

    / Image column: Order first on small, second on medium/large
    .col-12.col-md-6.order-1.order-md-2.text-center.mb-3
      = image_tag "https://placehold.co/400x200", class: "img-fluid rounded w-100"

  .row.align-items-center
    .col-12.col-md-6.text-center.mb-3
      = image_tag "https://placehold.co/400x200", class: "img-fluid rounded w-100"

    .col-12.col-md-6.text-start
      .mb-3
        %i.bi.bi-database-fill.fs-2
      %h3.fw-bold Download Energy Datasets
      %p.text-muted
        Explore and download datasets related to Alaska’s energy landscape.
        Dive into the data to uncover trends, inform decisions, and power your insights.
      = link_to "Explore Data", metadata_path, class: "btn btn-dark mt-2"