%section#home-hero.container.text-center.py-5
  = image_tag "aedg-logo.png", alt: "AEDG Logo", class: "img-fluid mb-5 w-50"

  %h2.mb-5.fw-bold Energy Data for Alaska Communities

  .row.justify-content-center.g-4
    .col-md-4.d-flex
      = link_to user_guide_path, class: "p-4 bg-white shadow rounded h-100 w-100 text-decoration-none text-dark hover-shadow" do
        .mb-2
        %i.bi.bi-star-fill.fs-2
        %h5.fw-semibold New to AEDG?
        %hr
        %p.text-muted A guide to getting you started

    .col-md-4.d-flex
      = link_to metadata_path, class: "p-4 bg-white shadow rounded h-100 w-100 text-decoration-none text-dark hover-shadow" do
        .mb-2
          %i.bi.bi-database-fill.fs-2
        %h5.fw-semibold View & Download Datasets
        %hr
        %p.text-muted Dive into Alaska energy data to uncover trends, inform decisions, and power your insights

    .col-md-4.d-flex
      = link_to communities_path, class: "p-4 bg-white shadow rounded h-100 w-100 text-decoration-none text-dark hover-shadow" do
        .mb-2
          %i.bi.bi-house-fill.fs-2
        %h5.fw-semibold Explore Community Summaries
        %hr
        %p.text-muted Gain insights into the energy systems that shape Alaska’s communities