%section#navigate.py-5
  .container
    %p.text-uppercase.text-muted Explore
    %h2.fw-bold.mb-5 How to Navigate the AEDG

    .row.text-start
      .col-md-4.mb-4
        .circle-icon.mb-4
          %i.bi.bi-grid-3x3-gap.fs-4
        %h5.fw-bold Step 1: Access the Data Apps
        %p.text-muted Visit the Data Explorer or Community Dashboards to get started.

      .col-md-4.mb-4        
        .circle-icon.mb-4
          %i.bi.bi-search.fs-4
        %h5.fw-bold Step 2: Search for Relevant Data
        %p.text-muted
          %strong Data Explorer:
          Use the search bar to find specific datasets or use the filters.
        %p.text-muted.mb-0
          %strong Community Summaries:
          Select a Community to view community specific data.

      .col-md-4.mb-4
        .circle-icon.mb-4
          %i.bi.bi-download.fs-4
        %h5.fw-bold Step 3: Download and Analyze Data
        %p.text-muted
          Download your selected dataset or community summary for further analysis.