.container
  %h2.fw-bold About
  %p.lead.text-muted.mb-4
    The Alaska Energy Data Gateway combines community, socio-economic, and energy data into data dashboards, tools, and new datasets to meet Alaska’s energy data needs.

  %hr
  = render 'aedg_timeline'
  %hr
  = render 'partners'