.container.py-5
  %h2.fw-bold About
  %p.lead.text-muted
    The Alaska Energy Data Gateway combines community, socio-economic, and energy data into data dashboards, tools, and new datasets to meet Alaska’s energy data needs.

  %hr.my-5

  = render 'history_timeline'
%section#partners