- content_for :title, "User Guide"

.container.mt-4
  %h2.fw-bold User Guide
  %p.lead.text-muted.mb-4
    Find energy and socioeconomic data for communities across the state of Alaska in the revitalized Alaska Energy Data Gateway
  %hr
  = render 'navigating_aedg'
  %hr
  = render 'faq'
  %hr
  = render 'data_creation_process'
  %hr
  = render 'citing_aedg'