.container.py-5
  %h2.fw-bold User Guide
  %p.lead.text-muted
    Find energy and socioeconomic data for communities across the state of Alaska in the revitalized Alaska Energy Data Gateway
  %hr.mb-5
  = render 'navigating_aedg'
  %hr.mb-5
  = render 'faq'
  %hr.mb-5
  = render 'data_creation_process'
  %hr.mb-5
  = render 'citing_aedg'