= form_tag search_advanced_path, method: :get, id: 'filter-form', class: 'd-none', data: { turbo_action: "replace" } do
  = hidden_field_tag :q, params[:q]
  = hidden_field_tag :expanded, params[:expanded], data: { search_panels_target: "tracker" }