%div#search_panels_content
  - @facet_panels.each do |p|
    - is_open = params[p[:param]].present? || params[:expanded] == p[:id]
    
    .facet-panel{ id: p[:id], class: (is_open ? 'panel-visible' : '') }
      .facet-shelf-content.bg-white
        .p-2.d-flex.justify-content-between.align-items-center
          %h5.mb-0.fw-bold= p[:title]
          %button.btn-close{ type: "button", data: { action: "click->search-panels#close" } }
        
        = render 'searches/advanced/facet', panel: p