- base_title = "#{@community.name.titleize} - Electricity Sales by Sector"

.chart-wrapper{ style: "height: 500px; width: 100%;" }
  %canvas{ 
    data: { 
      controller: "yearly-sales-chart",
      yearly_sales: {
        chart_url_value: electricity_sales_by_sector_community_charts_path(@community),
        chart_title_value: base_title 
      }
    } 
  }   