.section-body.m-1.m-md-2.m-lg-4.mt-3
  - if @parent.service_areas?
    .mb-4
      = render 'shared/map_buttons', buttons: @map_buttons

  .row.g-4
    .col
      = render "grouped_summaries/power_generation/utilities/service_areas"
