- tabs = [ { label: "General", path: general_grid_path(@grid), visible: true }, { label: "Power Generation", path: power_generation_grid_path(@grid), visible: @grid.show_power_generation_tab? }]

#main-toolbar.sticky-top.bg-light.border-bottom.px-3.py-2
  .row.align-items-center.gy-2
    -# Name & Metadata
    .col.col-md-auto.flex-grow-1.order-0
      .d-flex.align-items-center.gap-2
        %i.bi.bi-geo-alt-fill.text-primary.fs-4
        .d-flex.flex-column
          %span.fw-bold.fs-4.lh-1= @grid.name
    
    -# Dropdown
    .col-auto.col-md-auto.order-1.order-lg-2
      .d-flex.justify-content-end
        = render "shared/dropdown", collection: @grids

    -# Tabs
    .col-12.col-md-auto.order-2.order-lg-1
      %ul.nav.nav-tabs.border-bottom-0.flex-wrap{ data: { controller: "turbo-active-link" } }
        - tabs.each do |tab|
          - if tab[:visible]
            %li.nav-item
              = link_to tab[:label], tab[:path],
                class: "nav-link py-2 px-2 px-lg-3 fs-6 fw-bold text-wrap bg-light",
                data: { turbo_active_link_target: "link", turbo_frame: "grid_tab_content", turbo_action: "advance" }