- content_for :title, "Grid Summaries"

.container-xl
  .row.justify-content-center.mb-5
    .col
      .container-fluid
        .row.justify-content-center
          .col-12.col-md-11.col-lg-10.bg-white.bg-opacity-75.p-4.rounded-4.shadow
            %h1.fw-bold.m-3
              %i.bi.bi-grid-fill.me-2
              Grid Summaries

            %p.lead.fs-5.mx-3
              Explore grid-level insights, from communities served to energy metrics.

            / --- GRID LINKS IN 3 COLUMNS ---
            - cols = @grids.in_groups(3, false)
            .row.g-3
              - cols.each do |group|
                .col-12.col-md-4
                  %ul.list-group.list-group-flush.small
                    - group.each do |grid|
                      %li.list-group-item.py-2
                        = link_to grid.name, grid_path(grid), class: "text-decoration-none stretched-link"