- content_for :title, "Explore Grids"

.container-xl.mt-4
  .row.justify-content-center.mb-5
    .col
      #grids-hero.position-relative.text-center.rounded-4.p-0.p-md-3.p-lg-5
        .row.justify-content-center.mx-0
          .col-12.col-md-11.col-lg-10.bg-white.bg-opacity-75.p-4.rounded-4.shadow.position-relative
            %h1.fw-bold.m-3
              %i.bi.bi-grid.me-2
              Grids
            %p.lead.fs-5.w-75.mx-auto.mb-4
              Explore grid-level insights, from communities served to energy metrics.
            .d-flex.flex-column.flex-sm-row.justify-content-center.align-items-center.gap-3.mb-4
              = link_to "View Data Explorer", search_metadata_path, class: "btn btn-lg btn-aedg-primary"
              = link_to "Advanced Community Search", search_advanced_path, class: "btn btn-lg btn-aedg-secondary"
      -# Photo Credit
      .text-end.text-small.text-muted.mt-2
        Photo Credit: Gwen Holdmann

-# Main Content / Results Section
.row.justify-content-center.g-5.mb-5.mx-0
  .col-xl-8.mt-0
    = turbo_frame_tag 'grids' do
      = render 'grids_list', grids: @grids