= render 'shared/about_modal', id: 'capacityAboutModal', title: 'About Capacity Data' do
  - capacity_modal_partials(@parent).each do |partial_path|
    .d-flex.mb-4
      = render partial_path, entity: @parent