
-#TODO: Replace with bootstrap_form_for and implement sort functionality
.form-group
  %label.text-muted.text-small{ for: "sort_by" } Sort By
  %select.form-control#sort_by
    %option Most Relevant
    %option Newest
    %option Oldest