.row
  = f.label :order, class: 'col-md-3 col-form-label', for: 'order'
  .col
    = f.select :order, options_for_select([['Most Relevant', 'relevance'], ['Newest', 'newest'], ['Oldest', 'oldest']], @search[:order]), {}, class: 'form-control', id: 'order'
