- parent_tab = 'demographics'

-# --- Section Body ---
.section-body.m-1.m-md-2.m-lg-4.mt-3
  .p-4.border.rounded-3.bg-white.shadow-sm.mb-4
    -# Employment Status (Full Width)
    - if @community.show_employment?
      .mb-5
        = render "communities/#{parent_tab}/employment/employment_chart"

    -# Data Table Section
    .pt-5.border-top.mt-5
      = render "communities/#{parent_tab}/employment/employment_data"