.section-body.m-1.m-md-2.m-lg-4.mt-3
  .d-flex.align-items-start.mb-3.border-bottom.pb-2
    %h5.mb-3
      The
      %strong= @parent
      = " includes #{pluralize(@parent.communities.count, 'community')}:"
      
  .row.g-3
    - @parent.communities.each do |c|
      .col-6.col-sm-4.col-lg-2
        = link_to c.to_s , community_path(c),
          data: { turbo_frame: '_top' }
