- parent_tab = "electric_rates_sales"

-# --- Section Body ---
.section-body.m-5.mt-3
  .row
    .col-12
      -# Main Data Card
      .p-4.border.rounded-3.bg-white.shadow-sm.mb-4        
        -# Historical Chart Section
        .mb-5
          = render "communities/#{parent_tab}/rates/historical_rate_chart"
        
        -# Data Table Section
        .pt-4.border-top
          = render "communities/#{parent_tab}/rates/data"