// This file contains styles for community pages

.community-dropdown-card {
  background-color: #cecece;
  border: none;
  border-radius: 20px;
  box-shadow: none;
}

.dropdown-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.community-dropdown {
  width: 100%;
  background: white;
  border: 2px solid #ccc;
  padding: 12px;
  font-size: 1rem;
  border-radius: 20px; 
  transition: all 0.3s ease-in-out;
  text-align: center;

  &:hover {
    border-color: #007bff;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
}

.dropdown-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
  font-size: 18px;
}

.collapse-btn {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: none;
  border: none;
  padding: 10px;
}

.arrow-icon {
  margin-right: 1rem;
  transition: transform 0.3s ease-in-out;
}

.collapse-btn[aria-expanded="true"] .arrow-icon {
  transform: rotate(180deg);
}

.placeholder-card {
  min-height: 150px;
  background-color: #c9c9c9;
  border-radius: 20px;
  padding: 20px;
}

.placeholder-map{
  background-image: url('https://placehold.co/600x400');
  min-height: 300px;
  border-radius: 20px;
  margin: 20px;
}