-# Needs links and action_name
.sticky-top.bg-light.border-bottom.py-2{ id: "jump_nav", style: "z-index: 1010;" }
  .mx-3.mx-md-5
    .d-flex.justify-content-start.justify-content-lg-center.align-items-center.flex-wrap.gap-2
      %small.text-uppercase.fw-bold.text-muted.me-2 Jump To:
      
      - links.each do |link|
        - if link.fetch(:show, true)
          = link_to link[:anchor], class: "btn btn-sm btn-outline-primary rounded-pill", data: { turbo: "false" } do
            - if link[:icon].present?
              %i{ class: "bi bi-#{link[:icon]} me-1" }
            = link[:title]