/ TODO: Replace with actual data
%div{ data: { controller: 'datatables' } }
  %table.table.table-stripped.border{ data: { datatables_target: 'table'} }
    %thead
      %tr
        %th Field 1
        %th Field 2
        %th Field 3
    %tbody
      