%div{ data: { controller: 'datatables', datatables: { pagesize_value: 25, load_value: metadatum_dataset_path(@metadatum, dataset, format: 'json') } } }
  %table.table.table-striped.border
    %thead
      %tr
        - @dataset.data['schema']['fields'].each do |field|
          %th= field['name']
    %tbody
