.m-5.mt-3
  = render 'communities/sections/background/geography'

- if show_transportation?(@community)
  .m-5
    = render 'communities/sections/background/transportation', transportation: @community.transportation
    
- if show_election_districts?(@community)
  .m-5
    = render 'communities/sections/background/election_districts'

- if show_population?(@community)
  .m-5
    = render 'communities/sections/background/population'


