.my-5.mx-3.mx-md-5.mt-3
  = render 'communities/sections/background/geography'

- if @community.show_transportation?
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/background/transportation', transportation: @community.transportation
    
- if @community.show_election_districts?
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/background/election_districts'

- if @community.show_population?
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/background/population'


