- if @community.transportation
  .mb-3
    = render 'communities/sections/background/transportation', transportation: @community.transportation

.row.g-5.align-items-start
  - if @community.name
    .col= render 'communities/sections/background/geography', community: @community
  - if @community.population
    .col-md-6.col-12= render 'communities/sections/background/population_employment'
  - if @community.name
    .col-md-6.col-12= render 'communities/sections/background/election_districts', community: @community
