.col
  .card
    .card-header
      .card-title
        %h5 Identifiers 
    .card-body
      %p
        %b FIPS code: 
        = @community.fips_code
      %p
        %b ANSI code:
        = @community.ansi_code
.col
  .card
    .card-header
      .card-title
        %h5 Geography
    .card-body
      %p
        %b Latitude:
        = @community.latitude
      %p
        %b Longitude:
        = @community.longitude
.col
  .card
    .card-header
      .card-title
        %h5 Population
    .card-body

.col
  .card
    .card-header
      .card-title
        %h5 Education
    .card-body
.col
  .card
    .card-header
      .card-title
        %h5 Election Districts
    .card-body