- tab = 'electricity_rates_sales'
- if @community.show_rates?
  .my-5.mx-3.mx-md-5.mt-3
    = render "communities/sections/#{tab}/rates"
- if @community.show_sales?
  .my-5.mx-3.mx-md-5
    = render "communities/sections/#{tab}/sales"
