- parent_tab = 'fuel'
- if @community.show_fuel_prices?
  .my-5.mx-3.mx-md-5.mt-3
    = render "communities/sections/#{parent_tab}/fuel_prices"

- if @community.show_bulk_fuel_facilities?
  .my-5.mx-3.mx-md-5
    = render "communities/sections/#{parent_tab}/bulk_fuel_facilities"