.mb-3
  %h3 What's in this Dataset?
  %p= metadatum.description

  %p 
    %strong Topics:
    - metadatum.topics.each do |tag|
      %span.badge.bg-secondary= tag

  %p 
    %strong Keywords:
    - metadatum.keywords.each do |tag|
      %span.badge.bg-secondary= tag

  %p 
    %strong Formats:
    - metadatum.formats.each do |tag|
      %span.badge.bg-secondary= tag
