- base_title = "#{@community.name} - Generation by Energy Source"
= area_chart production_yearly_community_charts_path(@community),
  stacked: true,
  title: base_title,
  legend: 'left',
  height: '500px',
  suffix: " MWh",
  xtitle: "Year",
  ytitle: "Generation (MWh)",
  download: {filename: base_title.parameterize},
  library: { plugins: { tooltip: { mode: 'index', intersect: false } }, scales: { x: { stacked: true }, y: { stacked: true, ticks: { maxTicksLimit: 10 } } }, elements: { point: { radius: 1 } } }
