- chart_title = "#{@community.grid.name.titleize} Net Generation by Fuel Type (#{YearlyGeneration.latest_year_for(@community.grid)})"
= pie_chart production_yearly_community_charts_path(@community),
  title: chart_title,
  suffix: " MW",
  thousands: ",",
  donut: true,
  empty: "No Yearly Generation Data Available",
  loading: "Loading Yearly Generation Data...",
  library: { animation: { duration: 500 }, tooltip: { pointFormat: '{point.name}: <b>{point.y} MWh</b>' }, plugins: { legend: { title: { display: true, text: "Fuel Type"}, display: true, position: 'left' } }   },
  download: { background: "#ffffff", filename: chart_title.parameterize, format: "png" }