- chart_title = "#{@community.grid.name.titleize} Net Generation by Fuel Type (#{YearlyGeneration.latest_year_for(@community.grid)})"
= pie_chart production_yearly_community_charts_path(@community),
  title: chart_title,
  suffix: " MWh",
  donut: true,
  library: { plugins: { legend: { title: { display: true, text: "Fuel Type"}, display: true, position: 'left' } } },
  download: { filename: chart_title.parameterize}