= line_chart fuel_prices_chart_data(@community.fuel_prices),
    colors:      ["#FF7F0E", "#4B0082"],
    title:       "Seasonal Fuel Price Trends",
    xtitle:      "Year & Season",
    ytitle:      "Price (USD)",
    prefix:      "$",
    library:     { plotOptions: { series: { marker: { enabled: true } } }}, 
    download:    {filename: "#{@community.name.parameterize}_fuel_prices", format:   "png"}

= column_chart fuel_prices_by_season_chart_data(@community.fuel_prices),
    colors:    ["#1F77B4", "#2CA02C"],
    title:     "Winter vs Summer Total Fuel Prices",
    xtitle:    "Year",
    ytitle:    "Price (USD)",
    prefix:    "$",
    download:  { filename: "fuel_by_season" }
