- most_recent_population = @community.population_age_sexes.with_total_estimates.first

- if most_recent_population.present?
  .d-flex.justify-content-between.align-items-center.bg-light.border.p-4.rounded-3.mb-4.shadow-sm.border-primary-subtle
    .d-flex.align-items-center
      .d-flex.align-items-baseline.flex-wrap
        -# Tooltip
        %i.bi.bi-info-circle-fill.me-3.text-navy{ data: { controller: 'tooltip', bs_toggle: 'tooltip' }, title: "American Community Survey (ACS) 5-year estimates is data collected over a 60-month period. The data reflects the average characteristics of the population between the start and end dates." }
        
        -# Label
        %h6.text-uppercase.text-secondary.ls-wide.small.fw-bold.mb-0.me-1
          Estimated Population (#{most_recent_population&.period_label})
        
        -# Value
        - if most_recent_population.e_pop_total.present?
          %span.fs-5.fw-bold
            = number_with_delimiter(most_recent_population.e_pop_total)
        
        -# Margin of Error
        - if most_recent_population.m_pop_total.present?
          %span.ms-2.text-muted.small.fw-normal
            (±#{number_with_delimiter(most_recent_population.m_pop_total)})