- parent_tab = 'power_generation'

-# --- Section Body ---
.section-body.m-5.mt-3
  .row
    .col-12
      -# Main Chart Card
      .p-4.border.rounded-3.bg-white.shadow-sm.mb-4
        .mb-4
          = render "communities/#{parent_tab}/capacity/capacity_chart"
        
        -# Data Table Section
        .pt-4.border-top
          = render "communities/#{parent_tab}/capacity/capacity_data"