%h4 Election Districts

= render "communities/sections/background/election_districts/district_overview"

/ Navigation Tabs
.d-flex.justify-content-between.align-items-center.mt-4
  .nav.nav-tabs
    %li.nav-item
      = link_to "District Map", "#districtsMapWrapper", class: "nav-link active", data: { bs_toggle: "tab"}
    %li.nav-item 
      = link_to "District Data", "#districtData", class: "nav-link", data: { bs_toggle: "tab" }

/ Tab Content
.tab-content.mt-3
  #districtsMapWrapper.tab-pane.fade.show.active{
    data: {
      controller: "maps",
      maps_token_value: ENV['MAPBOX_API_TOKEN'],
      maps_map_center_value: [@community.longitude, @community.latitude],
      maps_default_layer_url_value: house_districts_community_maps_path(@community, format: :json)
    }
  }
    .d-flex.gap-2.mb-2.align-items-center
      %button.btn.btn-outline-primary.active{
        data: {
          action: "click->maps#selectLayer",
          url: house_districts_community_maps_path(@community, format: :json),
          color: "#088",
          outline_color: "#05505e"
        }
      } House Districts

      %button.btn.btn-outline-primary{
        data: {
          action: "click->maps#selectLayer",
          url: senate_districts_community_maps_path(@community, format: :json),
          color: "#e67e22",
          outline_color: "#a84300"
        }
      } Senate Districts
      %span{ data: { maps_target: "loading" }}

    #districtsMap.rounded{ data: { maps_target: "map" }, style: "width: 100%; height: 500px;" }



  #districtData.tab-pane.fade
    = render "communities/sections/background/election_districts/district_data"