%p This chart shows estimated gender distribution with margin of error included in the labels.
= pie_chart gender_distribution_chart_data(@community),
  title: "Gender Distribution",
  donut: true,
  colors: ["#4e79a7", "#f28e2b"],
  thousands: ",",
  legend: true,
  empty: "No Data Available",
  loading: "Data Loading...",
  download: {background: "#ffffff", filename: "#{@community.name}age_group_estimates_with_moe_data", format: "png"}