%p This chart shows estimated population with the margin of error stacked on top to indicate uncertainty.
= bar_chart age_group_estimates_with_moe_data(@community),
  title:  "Population Estimates by Age with Margin of Error",
  stacked: true,
  xtitle: "Count",
  ytitle: "Age Group",
  thousands: ",",
  colors: ["#1f77b4", "#ff7f0e"],
  legend: true,
  empty: "No Data Available",
  loading: "Data Loading...",
  download: {background: "#ffffff", filename: "#{@community.name}age_group_estimates_with_moe_data", format: "png"}


