.placeholder-card 
  %h4 Population & Employment
  %p 
    This section provides an overview of the population aspects of the community. 
    Please replace this placeholder text with actual content.

  %table.table.table-bordered.table-striped
    %tbody
      %tr
        %th Total Population:
        %td= community.total_population

      