.d-flex.align-items-center.mb-3
  %i.bi.bi-car-front.me-2.fs-4
  %h4#transportation.mb-0.me-3.py-3 Transportation
  %hr.flex-grow-1.mt-1.mb-0
.mb-3
  %small.text-muted
    %strong Last Updated:
    = transportation.as_of_date

.container-fluid.bg-body-secondary.rounded.p-3.mb-3
  .row.g-3
    - Transportation::TRANSPORT_FIELDS.each do |field_name|
      - value = transportation.send(field_name)
      .col-4.col-md-2.d-flex.flex-column.text-center
        %i{ class: "bi #{value ? 'bi-check-circle-fill text-success' : 'bi-x-circle-fill text-danger'}" }
        %small= field_name.titleize

%p= transportation.description