%i.bi.bi-info-circle.text-secondary.fs-4
.flex-grow-1.ms-3
  %h6.fw-bold.mb-1 American Community Survey (ACS) 5-Year Estimates
  %p.text-muted.mb-2
    Data in this section represents a 60-month average of survey responses collected during the period shown. This multi-year approach reflects the average characteristics of the population during that timeframe.
  %a.text-decoration-none.small{ href: "https://www.census.gov/programs-surveys/acs/guidance/estimates.html", target: "_blank" }
    Learn more about ACS estimates
    %i.bi.bi-box-arrow-up-right.ms-1