%i.bi.bi-geo-alt.text-primary.fs-4
.flex-grow-1.ms-3
  %h6.fw-bold.mb-1 Service Area
  %p.text-muted.mb-1
    This section displays data from power plants within this community’s
    = @community.show_utility_service_area? ? 'local service area.' : ' utility service area.'
    
  - if @community.grid
    = link_to grid_path(@community.grid, anchor: 'capacity'),
      class: "small text-decoration-none icon-link icon-link-hover d-inline-flex align-items-baseline gap-1",
      data: { turbo: false } do
      %span Explore Grid Data
      %i.bi.bi-arrow-right