%i.bi.bi-lightning-charge.text-warning.fs-4
.flex-grow-1.ms-3
  %h6.fw-bold.mb-1 Grid Connection
  %p.text-muted.mb-0
    This section displays data from power plants connected to the
    %strong= @grid.name.titleize
    = '.'