%i.bi.bi-file-earmark-bar-graph.text-secondary.fs-4
.flex-grow-1.ms-3
  %h6.fw-bold.mb-1 Independent Power Producer (IPP) Reporting
  %p.text-muted.mb-0
    Information about power generation and type from IPPs is dependent on utilities power purchase reporting.