%i.bi.bi-info-circle.text-success.fs-4
.flex-grow-1.ms-3
  %h6.fw-bold.mb-1 Gross vs. Net Generation
  %p.text-muted.mb-0
    Data originating from the 
    %strong PCE program
    reflects 
    %em Gross Generation
    (total power produced), while data from the 
    %strong EIA
    reflects 
    %em Net Generation
    (power available for the grid).
  %p.text-muted.mb-0.mt-2
    This variation is due to differences in reporting requirements required by each program.