= render 'shared/modal/about_this_calculation', title: "Data Interpretation" do
  %p.text-muted.mb-3
    Fluctuations in this graph may represent  
    %strong changes to customer classifications 
    rather than shifts in actual electricity consumption. 

  %p.text-muted.mb-0
    When customers are reassigned between sectors, such as from Community to Government, it can create volatility in the graph despite no physical change in consumption patterns.