%i.bi.bi-info-circle.text-success.fs-4
.flex-grow-1.ms-3
  %h6.fw-bold.mb-1 Utility vs. Local Service Areas
  %p.text-muted.mb-0.mt-2.mb-3
    %strong Utility Service Areas
    represent the broader operational territory managed by a retail utility, which often encompasses multiple communities and interconnected regional infrastructure.
  %p.text-muted.mb-0.mb-4
    %strong Local Service Areas
    represent the geographic boundaries of retail utility's service area within an integrated electrical grid.

  %p.text-muted.mb-0
    %span In Alaska, multiple combinations exist:
    %ul.text-muted.mt-2
      %li
        %strong Integrated Grid:
        Multiple retail utilities physically connected via a shared transmission grid (e.g., Railbelt).
      %li
        %strong Regional Utilities:
        Physically isolated Service Areas that are administratively grouped under a single retail utility provider (e.g., AVEC).
      %li
        %strong Isolated Microgrid:
        A single, self-contained grid managed by a dedicated local retail utility (e.g., Kotzebue).