.row 
  .col-md-4
    PLACEHOLDER
  .col-md-8
    .mb-3
      = render 'search_form'
    - if @metadata.any?
      = render partial: 'metadata', collection: @metadata, as: :metadatum
    - else 
      %p No results found. Try adjusting your search or using different keywords
