#top-nav {
  z-index: 9999;
  .navbar {
    top: 0px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);

    .nav-link {
      color: $white;
      &:hover, &.active, &.show, .dropdown.show & { color: $aedg-yellow; }
    }

    .dropdown {
      &:hover .dropdown-menu {
        display: block;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }

      .dropdown-menu {
        min-width: auto;
        display: none;
        visibility: hidden;
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.3s ease-in-out;
        background-color: lighten($aedg-navy, 75%);
        border-radius: 0.5rem;
        padding: 0;
        border: none;
        li:first-child a { border-radius: 0.5rem 0.5rem 0 0; }
        li:last-child a { border-radius: 0 0 0.5rem 0.5rem; }

        .dropdown-item {
          padding: 1rem 2rem; // Standard header padding
          font-size: 1rem;
          font-weight: 500;
          transition: background-color 0.3s ease, color 0.3s ease;

          &:hover {
            padding-left: 2rem;
            background-color: lighten($aedg-yellow, 15%);
            color: $aedg-navy;
          }

          &.active {
            background-color: $aedg-yellow;
            color: $aedg-navy;
          }
        }
      }
    }
  }
}
