.map {
  width: 100%;
  height: 250px;
}

$map-sizes: (
  sm: 250px,
  md: 300px,
  lg: 400px,
  xl: 500px,
);

@each $size, $height in $map-sizes {
  @include media-breakpoint-up($size) {
    .map {
      height: $height;
    }
  }
}