// --- Communities Search Styles ---

.search-bar {
  border-radius: 50px;
  overflow: hidden;
  max-width: 900px;
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.22),
    0 18px 36px rgba(0, 0, 0, 0.14);

  // Make it slightly responsive
  @media (max-width: 992px) {
    max-width: 100%;
  }
}

.quick-links {
  a {
    margin-right: 0.25rem;
    transition: transform 0.2s ease-in-out;
    display: inline-block;

    &:hover {
      transform: scale(1.1);
      text-decoration: none;
    }
  }

  span.mx-1 {
    color: rgba(0, 0, 0, 0.25);
  }
}

.results-container {
  max-width: 900px;

  @media (max-width: 992px) {
    max-width: 100%;
  }
}
