// Default variable overrides

// scss-docs-start theme-color-variables
$primary:       #0F1F4B;
$secondary:     #ffb611;
$success:       #198754;
$info:          #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #212529;
// scss-docs-end theme-color-variables

// Your variable overrides
$body-bg: #fff;
$body-color: #212529;
$aedg-navy: #0F1F4B;
$aedg-yellow: #ffb611;
$partner-card-bg: #dbdfe9;
$white: #ffffff;
$faq-accordion-bg: #f8f9fa;
$faq-accordion-text: #212529;
$faq-category-active-bg: #0F1F4B;
$faq-category-inactive-bg: #dfe1e7;