- chart_title = "#{@grid.name.titleize} Net Generation by Month"
= column_chart production_monthly_grid_charts_path(@grid), 
  title: chart_title, 
  xtitle: 'Month', 
  ytitle: 'Net Generation (MWh)', 
  suffix: ' MWh',
  download: {filename: chart_title.parameterize}