%p This chart shows estimated gender distribution with margin of error included in the labels.
= pie_chart gender_distribution_community_charts_path(@community),
  title: "Gender Distribution (#{@most_recent_population.start_year} - #{@most_recent_population.end_year})",
  donut: true,
  colors: ["#4e79a7", "#f28e2b"],
  download: { filename: "#{@community.name}gender_distribution_chart_data"}
