%p This chart shows estimated population with the margin of error stacked on top to indicate uncertainty.
= bar_chart age_distribution_community_charts_path(@community),
  title:  "Population Estimates by Age with Margin of Error",
  stacked: true,
  xtitle: "Population Count",
  ytitle: "Age Group",
  colors: ["#1f77b4", "#ff7f0e"],
  download: {filename: "#{@community.name}age_distribution"}