.d-flex.align-items-center.mb-3
  %i.bi.bi-gear.me-2.fs-4
  %h4#operators.mb-0.me-3.py-3 Operators
  %hr.flex-grow-1.mt-1.mb-0

.row
  - if @community.show_operators?
    .col-12
      .d-flex
        .d-flex.flex-grow-1.align-items-center.bg-body-secondary.rounded.p-3
          %i.bi.bi-house-gear-fill.text-warning.fs-4.me-3
          .flex-grow-1
            .text-muted= "Operators for the #{@community.grid.name}"
            .fw-semibold= @community.operators.join(", ")