.card
  %h4.card-header Utility
  .card-body
    %table.table.table-striped
      %thead
        %tr
          %th PCE Status
          %th Utilities
          %th Service Area
      %tbody
        %tr
          %td= @community.pce_eligible ? "Eligible" : "Ineligible"
          %td
          %td
