.card
  %h4.card-header Utility
  .card-body
    .row
      .col-md-4.text-end.text-nowrap
        %strong PCE Status:
      .col
        = @community.pce_eligible ? "Eligible" : "Ineligible"
    .row 
      .col-md-4.text-end.text-nowrap
        %strong Utilities:
      .col
        %span
    .row
      .col-md-4.text-end.text-nowrap
        %strong Service Area:
      .col
        %span
