.placeholder-card
  %h4 Utility
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th PCE Status
        %th Utilities
        %th Service Area
    %tbody
      %tr
        %td= @community.pce_eligible ? "Eligible" : "Ineligible"
        %td
        %td