%footer.py-5.mt-auto.bg-light
  .container
    / Flex container with responsive behavior
    .d-flex.flex-wrap.justify-content-around.align-items-start

      / Logo and About AEDG
      .d-flex.flex-wrap.align-items-start
        / Logo
        - footer_logo = asset_path('footer_logo.png') # Adjust as needed
        - if footer_logo.present?
          %img{ src: footer_logo, alt: "AEDG Logo", width: "200", class: "me-4 mb-5" }

        / About AEDG
        .footer-about
          %strong.mb-5= footer_about_title
          %p.my-2= footer_about_text

      / Quick Links
      .mb-3
        %strong Quick Links
        %ul.nav.flex-column
          - footer_links.each do |link|
            %li.nav-item
              %a.nav-link.text-muted.px-0{ href: link[:path], title: link[:title], aria: { label: link[:title] } }
                = link[:name]

    / Footer bottom section
    .mt-4
      %hr.my-4
      %p.text-center.text-muted.small
        &copy; #{Time.current.year} Alaska Energy Data Gateway. All rights reserved.