= turbo_frame_tag 'community_list' do
  / Plain 3–6 column responsive grid
  .container-lg.py-3
    .row.row-cols-3.row-cols-md-4.row-cols-lg-6.justify-content-center
      - communities.each do |c|
        .col.g-0
          = link_to c.name,
                    community_path(c),
                    class: "text-decoration-none d-block text-truncate",
                    data: { turbo_frame: '_top' }
          %hr
