.d-inline-flex.me-2.flex-shrink-0{ data: { controller: "dropdown", action: "change->dropdown#update" } }
  - community_array = @communities.map { |community| [community.name, url_for(community)] }
  = select_tag(:community, options_for_select(community_array, url_for(current_community) || ""), { prompt: '-- Select a Community --', class: "form-select form-select-md w-auto rounded-5 text-center", data: { dropdown_target: "select" } })
