%h3 Electricity
.col 
  .card
    .card-header 
      .card-title
        Utility
    .card-body

.col 
  .card 
    .card-header 
      .card-title
        Fuel
    .card-body

.col 
  .card 
    .card-header 
      .card-title
        Rates
    .card-body

.col 
  .card 
    .card-header 
      .card-title
        Production
    .card-body

.col 
  .card 
    .card-header 
      .card-title
        Sales, Revenue and Customers
    .card-body