%h3 Fuel Prices
.col 
  .card 
    .card-header 
      .card-title
        Diesel
    .card-body

.col 
  .card 
    .card-header 
      .card-title
        Gasoline
    .card-body

.col 
  .card
    .card-header 
      .card-title
        Propane
    .card-body