%h3 Overview
.col
  .card
    .card-header
      .card-title
        Identifiers 
    .card-body
      %p
        %b FIPS code: 
        = @community.fips_code
      %p
        %b ANSI code:
        = @community.ansi_code
.col
  .card
    .card-header
      .card-title
        Geography
    .card-body
      %p
        %b Latitude:
        = @community.latitude
      %p
        %b Longitude:
        = @community.longitude
.col
  .card
    .card-header
      .card-title
        Population
    .card-body

.col
  .card
    .card-header
      .card-title
        Education
    .card-body
.col
  .card
    .card-header
      .card-title
        Election Districts
    .card-body