.row.row-cols-4.row-cols-md-6.row-cols-lg-8.g-3.text-center.justify-content-center
  - communities.each do |c|
    .col
      = link_to c.name, community_path(c),
        class: "btn btn-light border w-100 py-1 d-flex align-items-center justify-content-center shadow-sm text-wrap",
        data: { turbo_frame: '_top' }

-# Empty state
- if communities.blank?
  .text-center.mt-5
    %i.bi.bi-search.display-4.text-muted.mb-3
    %p.lead.text-secondary No communities found matching your search.