- content_for :title, 'Communities'
.container-fluid.p-2
  .bg-body-light.text-center
    %h1.pb-2 Communities
    = render 'simple_search'
/ --- COMMUNITY LIST ---
= turbo_frame_tag 'communities' do
  = render 'results_pagination', letters: @active_letters
  = render 'results_list', communities: @communities
