- content_for :title, 'Communities'
.container-fluid
  .row.justify-content-center
    .col-12
      .container-fluid
        .row.justify-content-center
          .col-12.bg-opacity-75.p-4.rounded-4.bg-body-secondary
            .text-center
              %h1.display-6.fw-semibold Communities
              .d-flex.justify-content-center
            / --- SEARCH BAR just under title ---
            .mx-1.mb-1
              = render 'static_pages/search'
            / --- COMMUNITY LIST ---
            #allCommunities
              = render 'communities/communities_list', communities: @communities
