.container.py-4
  .row
    %p#notice= notice
  .row
    .col
      = link_to 'Back', communities_path, class: 'btn btn-primary'

  .row.align-items-center
    .col.text-center
      %h1.my-3 Community Summary
      = render partial: "dropdown", locals: { communities: @communities, current_community: @community }
  

.container.py-4
  .row
    .col
      %h2=@community.name
      %hr
  - cards = ["overview_card", "fuel_prices_card", "electricity_card"]
  - cards.each do |card|
    .row.my-4.g-4
      = render partial: card

