.card
  .card-body
    %h3 Featured Datasets
    %ul.list-group
      %li.list-group-item
        %strong Power Cost Equalization
        %br
        Description/Meta Data
      %li.list-group-item
        %strong Fuel Prices
        %br
        Description/Meta Data
      %li.list-group-item
        %strong Another Dataset
        %br
        Description/Meta Data
    = link_to "View All Datasets", "#", class: "btn btn-primary mt-3"