- chart_title = "Average Rates by Customer Type"
.row.g-3
  .col
    = column_chart average_sales_rates_community_charts_path(@community),
      prefix: '$',
      suffix: '/kWh',
      title: chart_title,
      download: { filename: chart_title.parameterize}