.row.g-3
  .col
    = column_chart average_sales_rates_community_charts_path(@community), suffix: "$/MWh", title: "Average Rates by Customer Type", download: { background: "#ffffff", filename: "Average Rates by Customer Type".parameterize, format: "png" }