name: ci

on:
  push:
    branches:
      - main
    tags: 
      - 'v*'    
  pull_request:
    branches:
      - main
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ACEP_DOCKERHUB_USER }}
          password: ${{ secrets.ACEP_DOCKERHUB_TOKEN }}
      -
        name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: uafacep/aedg-explorer
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}
            type=semver,pattern={{major}}.{{minor}}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  notify_failure:
      runs-on: ubuntu-latest
      needs: [docker]
      if: failure() && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
      steps:
        - uses: mattermost/action-mattermost-notify@master
          with:
            MATTERMOST_WEBHOOK_URL: ${{ secrets.MM_WEBHOOK_URL }}
            MATTERMOST_ICON_URL: https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678069-sign-error-512.png
            TEXT: |
              :warning: **Docker Build Failed**
              **Repo:** ${{ github.repository }}
              **Ref:** ${{ github.ref_name }}
              **Author:** ${{ github.actor }}
              
              [View Logs](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
