name: CI / Docker Verify

on:
  pull_request:
    branches:
      - main
jobs:
  build-check:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ACEP_DOCKERHUB_USER }}
          password: ${{ secrets.ACEP_DOCKERHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: uafacep/aedg-explorer
          tags: |
            type=ref,event=pr
      
      - name: Build
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}