- if google_analytics_id.present?
  / === Google Analytics (GA4) ===
  %script{ async: true, src: "https://www.googletagmanager.com/gtag/js?id=#{google_analytics_id}" }
  %script
    :plain
      // Boot Google Analytics
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '#{google_analytics_id}');

      // Track page views with Turbolinks navigation
      let isInitialLoad = true;
      document.addEventListener('turbolinks:load', () => {
        if (isInitialLoad){isInitialLoad = false; return;}
        gtag('config', '#{google_analytics_id}', {
          page_path: window.location.pathname,
        });
      });
